/* Write your CSS here! */
 body {
   margin: 8px;
   display: block;
   padding: 25px 50px 80px 100px;
}
#mainHeading {
    text-align: center;
    color: red;
}
#testP.funParagraph {
    color: green;
  }